<h1>Welcome to the task manager</h1>

<% @tasks.each do |task| %>
  <h2><%= task.title %></h2>
  <p><%= task.details %></p>
<% end %>

<%= link_to "Delete", tasks_path(@tasks),
      method: :delete,
      data: { confirm: "Are you sure?" } %>
